
# FUNCTIONS

In [17]:
a = 6
b = 3

In [18]:
a, b = b, a

In [19]:
print("a = " + str(a), "b = " + str(b))

a = 3 b = 6

In [26]:
def switch (a, b):
    val1, val2 = b, a
    return val1, val2

In [38]:
a, b= switch(a, b)
print (val1, val2)

NameError: name 'val1' is not defined

In [28]:
def add (a,b): 
    val = a + b
    return val

In [29]:
x = 3
y = 7
result =add(x,y)

In [30]:
result

10

In [32]:
def mean (a,b,c,d):
    val=(a+b+c+d)/4
    return val

In [34]:
a=2
b=4
c=10
d=6
val = mean(a,b,c,d)
val

5.5

In [35]:
def square(x):
    val=(x*x)
    return val

In [39]:
y=18
result= square (y)
result

324

In [76]:
def sum_even (my_list):
    val = [3+12+5+1+2+2]
    return val

In [78]:
my_list= [3,12,5,1,2,2]
result= sum_even (my_list)
result

[25]